{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'board/style.css' %}" />
</head>
<a href="{% url 'board_index' %}"><h1 class="title"><b>教えて、先生!!!</b></h1></a>{% block serchform %}{% endblock %}　
<body>
    <div class="body_content">
    <div class="body_content_inner">
            <div class="header">{% block header %}{% endblock %}</div>
        <nav>
        <ul class="topnav">
	<li><a href="{% url 'board_second_topic' '小学生' %}">小学生</a></li>
	<li><a href="{% url 'board_second_topic' '中学生' %}">中学生</a></li>
	<li><a href="{% url 'board_second_topic' '高校生' %}">高校生</a></li>
	<li><a href="{% url 'board_second_topic' '大学生' %}">大学生</a></li>
	<li><a href="{% url 'board_second_topic' '社会人' %}">社会人</a></li>
	<li><a href="{% url 'ranking_page' %}">ランキング</a></li>
    </nav>
    <div class="content">{% block content %}
            {% endblock %}</div>
    <div class="content_side">{% block content_side %}
            {% endblock %}</div>
        </div>
        </div>
        <div class="create_form">{% block form %}
            {% endblock %}</div>
        <div class="footer"><hr>©︎date</div>
</body>
</html>