{% extends 'board/layout.html' %}

{% block title %}トピック{% endblock %}
{% block serchform %}
<form method="POST" action="{% url 'search_result' search_word %}" class="search_form">
{% csrf_token %}
タイトル検索:{{searchform.search}}
<input type="hidden" name="mode" value="__search_form__">
<button type = "submit">検索</button>
</form>
{% endblock %}
{% block header %}
{% endblock %}


{% block content %}
アクセス数ランキング
{% for item in even_third_topic_access %}
    <div class="sel_topic">
    <ul id="navi">
    <li><a href="{% url 'board' item.second_topic.first_topic.first_topic item.second_topic.second_topic item.third_topic %}">{{item.third_topic}}</a>アクセス数:{{item.views}}トーク数:{{item.talk_count}}</li>
    </ul> 
    </div>
{% endfor %}
<hr>
トーク数ランキング
{% for item in even_third_topic_talk %}
    <div class="sel_topic">
    <ul id="navi">
    <li><a href="{% url 'board' item.second_topic.first_topic.first_topic item.second_topic.second_topic item.third_topic %}">{{item.third_topic}}</a>アクセス数:{{item.views}}トーク数:{{item.talk_count}}</li>
    </ul> 
    </div>
{% endfor %}
{% endblock %}


{% block content_side %}
<br>
{% for item in odd_third_topic_access %}
    <div class="sel_topic">
    <ul id="navi">
    <li><a href="{% url 'board' item.second_topic.first_topic.first_topic item.second_topic.second_topic item.third_topic %}">{{item.third_topic}}</a>アクセス数:{{item.views}}トーク数:{{item.talk_count}}</li>
    </ul> 
    </div>
{% endfor %}
<hr>
<br>
{% for item in odd_third_topic_talk %}
    <div class="sel_topic">
    <ul id="navi">
    <li><a href="{% url 'board' item.second_topic.first_topic.first_topic item.second_topic.second_topic item.third_topic %}">{{item.third_topic}}</a>アクセス数:{{item.views}}トーク数:{{item.talk_count}}</li>
    </ul> 
    </div>
{% endfor %}
{% endblock %}
